<h1>Contacts</h1>

<%= link_to 'New Contact', new_contact_path %>

<% if @contacts.empty? %>
  <p>No contacts yet!</p>
<% else %>
  <ul>
  <% @contacts.each do |contact| %>
    <li>
      <%= contact.full_name %>
    </li>
  <% end %>
  </ul>
<% end %>
